body{
  background-color: #dadada;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  /**/
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-image: linear-gradient(180deg, #4e0000, transparent); */
  background-color: #4d0000;
  height: 110px;

}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.logo {
  height: 85px;
  width: 220px;
}


.home_link:hover {
  opacity: 1;
}

.nav-list {
  /**/
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.menu-cadastro {
  display: none;
  margin-top: -60px;
  padding-left: 10px;
}

.menu-cadastro h1 {
  display: flex;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px;
}

.menu-cadastro h1 a {
  color: #dddeda;
  font-size: 16px;
}

.container_conta {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #340303;
  border-radius: 49%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.foto_perfil {
  height: 55px;
  width: 65px;
  object-fit: cover;
}
.foto_perfil:hover {
 opacity: 0.8;
}

.infodrop {
  position: absolute;
  z-index: 2;
  transform: translatey(-5px);
  background-color: #ffffff;
  scale: 1.2;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  translate: -45px;
}
.infodrop ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  list-style: none;
  color: #4e0000;
  margin: 0 5px;
}
.infodrop ul li:not(:last-child) {
  padding: 10px;
  border-bottom: 1px solid #4e0000;
}
.infodrop ul li a {
  color: #4e0000;
  text-transform: capitalize;
  margin: 0;
}
.infodrop ul li a ion-icon {
  padding-right: 5px;
}

.show {
  opacity: 1;
  transform: translatey(15px);
  pointer-events: all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 580px) {
  /*------------------NAV  RESPONSIVE---------------*/

  nav {
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    /* background-image: linear-gradient(180deg, #4e0000, transparent); */
    background-color: #4e0000;
    height: 80px;
  }

  .nav-list {
    display: none;
  }

  .menu-cadastro {
    display: none;
  }

  .responsive-nav {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #4e0000;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-evenly;
  }

  .page-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 0 10px;
    height: 60px;
    width: 40px;
    transition: 1s;
  }
  .page-menus h1 {
    /* display: none; */
    font-size: 12px;
    padding: 0 10px;
    color: #4e0000;
  }
  .page-menus a ion-icon {
    display: flex;
    width: 30px;
    height: 30px;
    color: #f5f4f4;
    margin: 0 auto;
    padding: 0;
  }

  .foco {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: #000000;
  }
  .foco a ion-icon,
  h1 {
    color: #000000;
  }

  .container_conta {
    display: none;
  }

  .infodrop {
    display: none;
  }

  .show {
    display: none;
  }
}
